Django==5.2.1
djangorestframework==3.15.2
django-cors-headers==4.4.0
python-dotenv==1.0.1
gunicorn==22.0.0
whitenoise==6.7.0
dj-database-url==2.2.0
google-generativeai==0.8.3
faiss-cpu==1.8.0
numpy==1.26.4
pdfplumber==0.11.4
python-docx==1.1.2
tiktoken==0.8.0
